<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{ifset #title}{include title|striptags} | {/ifset}Casino Roayle</title>

    {control css}
    
    <link rel="shortcut icon" href="{$basePath}/favicon.ico?v=2" />

    {block head}{/block}
</head>

<body>
        {ifset $disableNavbar}{else}            
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                    <a class="navbar-brand" href="./" >
                        {$presenter->context->parameters['application']['name']}                        
                        <small>{$presenter->context->parameters['application']['version']}</small>
                    </a>
                </div>
                    
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li n:class="$presenter->isLinkCurrent('Dashboard:*') ? active"><a n:href="Dashboard:">Dashboard</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Games <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li n:class="$presenter->isLinkCurrent('GameRoulette:*') ? active"><a n:href="GameRoulette:">Roulette</a></li>
                            </ul>
                        </li>
                        
                        {if $user->isInRole('admin')}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Devmod <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a n:href="Devmod:addCash 1000">Give 1000 Cr</a></li>
                            </ul>
                        </li>
                        {/if}
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">                      
                        <li><a n:href="Sign:out"><i class="fa fa-times"></i> Logout</a></li>                      
                    </ul>
                </div>
            </div>
        </div>
        {/ifset}

        <div class="{ifset $narrowLayout}narrow-container{/ifset} container">
            <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Zavřít</span></button>
                <i class="fa fa-exclamation-triangle fa-fw"></i> {$flash->message}
            </div>
            {include content}
        </div>
	
        {control js}
</body>
</html>
