#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:
    application:
        name: Casino Royale
        version: 0.0.1@dev


    basePath: /
    webtempdir: %wwwDir%/webtemp
    bowerdir: %wwwDir%/bower
    vendordir: /vendor
    wwwdir: %wwwDir%


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter
nette:
    debugger:
            maxDepth: 10
            maxLen: 500
            showLocation: true

session:
	expiration: 14 days

includes:
    - webloader.neon

    ## Roulette Game:
    - games/roulette.config.neon

extensions:
    webloader: WebLoader\Nette\Extension

services:
        - App\Model\Devmod
        - App\Model\UserManager
        - App\Model\Player
        - App\Model\Generator
        - App\Forms\SignFormFactory

        ## Roulette Game:
        - App\Model\Games\Roulette(%game.roulette.gamedata%, %game.roulette.boxdata%)
        - App\Forms\Games\Roulette\BetFormFactory


        router: App\RouterFactory::createRouter
