{* This is the welcome page, you can delete it *}

{block content}

<h1>Games</h1>

<div class="row">
    <div class="well col-xs-4">
        <a n:href="GameRoulette:"><h3>Roulette</h3></a>
        <small>v0.0.1</small>
    </div>
    
</div>