parameters:
    game:
        roulette:
            gamedata:
                name: Roulette
                version: 0.0.1
                id: game-roulette

            boxdata:
                0:
                    match:
                    - 0
                    name:
                    color: green
                    ratio: 35

                1:
                    match:
                    - 1
                    - 107
                    - 112
                    - 118
                    - 101
                    name:
                    color: green
                    ratio: 35


